.title{
    margin-top: 30px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: red; */

}
hr{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.table{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
