body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Teko', sans-serif;
}

.cupom {
    width: 100mm;
    /* height: 180mm; */
    background-color: rgb(247, 189, 119);
}

#linha {
    display: flex;
    justify-content: center;
}

.informa {
    /* background-color: red; */
}

#razao {
    /* margin-top: -20px; */
    /* background-color: red; */
    display: flex;
    justify-content: center;
    font-size: 15px;
    /* font-size: 7px; */
}

#cnpj {
    margin-top: -20px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
}

#endereco {
    margin-top: -20px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    font-size: 13px;
}

#tel {
    margin-top: -20px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
}

#linha {
    /* background-color: red; */
    margin-top: -30px;
}

h3 {
    /* background-color: red; */
    justify-content: center;
    display: flex;
    margin-top: -25px;
}

.containner_descricao_produto {
    margin-left: 30px;
    margin-top: -45px;
    display: flex;
    /* justify-content: center; */
    /* background-color: red; */
}

.containner_descricao_produto>h4 {
    /* background-color: red; */
    padding: 5px;
}
.container_formas_descricao{
    padding-left: 40px;
    /* background-color: red; */
    width: 115px;
}
.container_formas_unitarios{
    width: 40px;
    margin-left: 12px;
    /* background-color: brown; */
}
.container_formas_quantidade{
    margin-left: 10px;
}
.container_formas_total{
    margin-left: 30px;
    /* background-color: brown; */
    
}

.desc_item {
    padding: 2.5px;
    width: 150px;
    font-size: 10px;
    margin-top: -10px;
    /* background-color: yellow; */
    margin-left: 25px;
    font-weight: 800;
}

.container_formas {
    width: 200px;
    /* background-color: red; */
    font-size: 10px;
    display: flex;
    margin-top: -44px;
    margin-left: 170px;
}

.container_formas>p {
    /* margin-top: 1px; */
    /* background-color: red; */
    margin-left: 15px;
    font-weight: 800;
}

.container_formas_unitario {
    width: 45px;
    font-weight: 800;
}

.container_formas_gtd {
    width: 45px;
    font-weight: 800;
}

.container_formas_tot {
    /* background-color: brown; */
    width: 45px;
}





#tot_item {
    margin-top: -8px;
}

.valor_final {
    /* background-color: red; */
    margin-top: -15px;
    font-size: 12px;
    width: 330px;
    margin-left: 5px;
}

#form_pagamento {
    margin-top: -15px;
    /* background-color: red; */
    font-size: 12px;
    margin-left: 5px;
}

#volte_sem {
    /* margin-top: -10px; */
    margin-left: -30px;
    display: flex;
    justify-content: center;
}

.finaliza {
    /* background-color: red; */
    margin-left: 20px;
}